<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="images/favicon.png">
	<title>First Assignment </title>

</head>
<body>


	<table border="1px" cellspacing="0" cellpadding="10px" style="width: 100%;background: #eee;">
		<tr style="background: seagreen;color: white;text-align: center; text-transform: uppercase;font-weight: 900; letter-spacing: 1px;" >
			<td>SI.</td>
			<td>Tag's Name</td>
			<td>Description</td>
			<td>Example</td>
		</tr>
		<tr>
			<td>01</td>
			<td>h1 tag</td>
			<td>This is a heading tag font size 2 em</td>
			<td>< h1>Heading Tag h1< /h1></td>
		</tr>
		<tr>
			<td>02</td>
			<td>p tag</td>
			<td>This is a heading tag font size 2 em</td>
			<td>< p>Heading Tag h1< /p></td>
		</tr>
	</table>
	 




</body>
</html>